.cards{
    border: 2px solid #12b0c9;
    border-radius: 10px;
    background-color: #2c2c2c;
    box-shadow: 1px 3px 6px rgba($color: #319344, $alpha: 0.50);
}

@font-face {
    font-family: schwifty;
    src: url(../Cards/get_schwifty.ttf);
}

.name{
    color: #2c2c2c;
    font-family: schwifty;
    font-style: initial;
    border: 2px solid  #12b0c9;
    border-radius: 12px;
    background-color: #fdfdfd;
    padding: 6px 12px;
}

.nameCard{
    font-family: schwifty;
}
.nameBlue{
    color: #12b0c9; 
}

.nameLoc{
    color: #fdfdfd;
}

.img{
    border-radius: 8px 8px 0 0 ;
}

.badge{
    top: 10px;
    left: 20px;
    font-size: 17px;
    color: #181818;
}